@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

*{
  margin: 0;
  box-sizing: border-box;
}

.icon{
  left: auto;
}
li {
  list-style: none;
  float: left;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
}

.nav {
  float:right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  width: 100%;
  background-color: #ffb266;
}

  
.nav__menu {
  display: flex;
  align-items: left;
  justify-content: left;
  color: #ffb266;
  margin-left: auto; /* Add this line */
}

.nav__item{
  cursor: pointer;
  color: #000;
  margin-right: 80px; /* Adjust this value */
}

.nav__item2{
  cursor: pointer;
  color: #000;
}

.notification {
  cursor: pointer;
}

.nav__link{
  color: #cc6600;
}

.nav__link1{
  align-items: end;
  color: #cc6600;
}

.random{
  color: #cc6600;
}

.notification-icon{
  color: #cc6600;
}
